  {extend name='./common/father' /}
  {block name='mid'} 

	<div class="container">
		<div class="content center-block animated fadeInDown">
			<div class="page-header h1">user login</div>
			<form action="login/post">
				<div class="form-group">
					<label for="username" class="control-label">username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="username" />
				</div>
				<div class="form-group">
					<label for="password" class="control-label">password</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="password" />
				</div>
				
				<div class="loginbox-submit">
					<button class="btn btn-primary btn-block" id= "login">login</button>
				</div>
			</form>
		</div>
		
	</div>
	
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
{/block}
</html>