<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login page</title>
	<link rel="stylesheet" href="/static/login/auth.css">
</head>

<body>
    <BODY style="background-image : url(/static/index/images/home.jpg);background-repeat : no-repeat;background-size: 140%;">
   
	<div class="lowin lowin-blue">
        <div class="lowin-brand">
            <img src="/static/login/images/logo.jpg" alt="logo">
                </div>
		<div class="lowin-wrapper">
			
            <div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form action="Login/post">
					 <p>Sign in to continue</p>
                        <div class="lowin-group">
                            <label>User Name</label>
                            <input type="text" name="username" id="username" class="lowin-input">
                        </div>
						<div class="lowin-group password-group">
							<label>Password</label>
                            <input type="password" name="password" id="password" class="lowin-input">
						</div>
						<div>
						<button class="lowin-btn login-btn" id="login">Sign In</button>
						</div>
						<div class="text-foot">
							Don't have an account? <a href="./register" class="register-link">Register</a>
						</div>
					</form>
				</div>
			</div>

			
            
		</div>
	
    <footer class="lowin-footer">
        <br>DESIGNED BY KEEPTRYING GROUP  <a href="https://kcl.ac.uk" target="_blank" ></br>
            <br>King's College London </a></br>
            <br></br>

      </footer>
	</div>

	<script src="/static/login/auth.js"></script>
</body>
</html>
